<!DOCTYPE html>
<html>
  <head>
    <title>The You Verse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul class="top-bar">
      <li class="button-main"><%= link_to "World of Topics", topic_all_path, :class => "button-main" %></li>
      <li class="button-main"><%= link_to "World of Topics", topic_all_path, :class => "button-main" %></li>
      <li class="button-main"><%= link_to "World of Topics", topic_all_path, :class => "button-main" %></li>
      <li class="button-main"><%= link_to "World of Topics", topic_all_path, :class => "button-main" %></li>
    </ul>
    <%= yield %>
  </body>
</html>
