<!DOCTYPE html>
<html>
  <head>
    <title>The You Verse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul class="top-bar">
      <% if !logged_in? %>
        <%= link_to "Home", topic_all_path, :class => "button-words" %>
        <%= link_to "Topic Feed", topic_all_path, :class => "button-words" %>
        <%= link_to "Signup ", new_user_path, :class => "button-words" %>
        <%= link_to "Login", login_path, :class => "button-words" %>
      <% else %>
        <%= link_to "My Home", user_path(current_user), :class => "button-words" %>
        <%= link_to "Topic Feed", topic_all_path, :class => "button-words" %>
        <%= link_to "Create New Topic", new_topic_path, :class => "button-words" %>
        <%= link_to "Logout", logout_path, method: :destroy, :class => "button-words" %>
      <% end %>
    </ul>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
