<h1><%= @topic.title %></h1>
<%= link_to "Add Photo", new_topic_photo_path(@topic) %>
<%= link_to "Add Statement", new_topic_statement_path(@topic) %>
  <p>      <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
         <% end %>
  </p>

  <% @photos.each do |photo| %>
    <h3><%= photo.image_url %></h3>
    <p><%= link_to "Delete this", photo, :method => :delete %></p><br>
  <% end %>


  <% @statements.each do |statement| %>
    <h3><%= statement.content %></h3>
    <p><%= link_to "Delete this", statement, :method => :delete %></p><br>
  <% end %>
