<h1><%= @topic.title %></h1>
<%= link_to "Add Photo", new_topic_photo_path(@topic) %>
<%= link_to "Add Statement", new_topic_statement_path(@topic) %>
<h3>
  <% @photos.each do |photo| %>
    <p><%= photo.image_url %> <%= link_to "Delete this", photo, :method => :delete %></p><br>
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
  <% end %>
</h3>

<h3>
  <% @statements.each do |statement| %>
    <p><%= statement.content %></p><br>
  <% end %>
</h3>
